@import "../../styles/global.scss";

.productListWrapper {
  padding: 50px 0;

  :global {
    .loadBtn {
      background-color: $nevyBlue;
      border: none;
      color: $white;
      padding: 10px 25px;
    }
  }
}

.productList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding-top: 30px;
}

@media (max-width: $media-md) {
  .productList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

@media (min-width: 768px) and (max-width: $media-lg) {
  .productList {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
