@import "../../styles/global.scss";

.wishListWrapper {
  margin: 80px 0;
  min-height: 100vh;
}

.wishListItemWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 50px;
}

.wishListBtn {
  background-color: $nevyBlue !important;
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  color: $white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

@media (min-width: 768px) and (max-width: $media-lg) {
  .wishListItemWrapper {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media (max-width: $media-md) {
  .wishListItemWrapper {
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
  }
}
