@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap");
@import "./styles/global.scss";

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  position: relative;
  min-height: 100%;
}

@media (max-width: $media-md) {
  .carousel {
    .carousel-caption {
      top: 30%;
    }
  }
}
