@import "../../styles/global.scss";

.navBar {
  background-color: #303435;
  min-height: 70px;
  box-shadow: 0 1px 5px #00000029;
  width: 100%;
}

.navLink {
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
  color: $white;
  font-weight: 600;

  &:hover {
    color: $black;
  }
}

//menu buttons design
.menuLink {
  font-size: $font-size-base;
  font-weight: 400;
  line-height: 22px;
  margin-left: 30px;
  background-image: linear-gradient(
    to right,
    $nevyBlue,
    $nevyBlue 50%,
    $white 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  transition: all 0.3s ease-in-out;
  -webkit-text-fill-color: transparent;

  &:hover {
    background-position: 0;
  }
}

.cartIcon {
  position: relative;
  margin-left: 30px;
  margin-top: -5px;

  .cartLength {
    background-color: $white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: absolute;
    top: -13px;
    left: 16px;

    :global {
      h6 {
        color: $black;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        margin-top: 1px;
      }
    }
  }
}

@media (max-width: $media-lg) {
  .navBar {
    position: unset !important;
  }

  .menuLink {
    margin-left: 0;
    padding-bottom: 10px;
  }

  .cartIcon {
    margin: 15px 0 0;
  }
}
