@import "../../styles//global.scss";

.sliderItem {
  height: 400px;
  object-fit: cover;
  img {
    object-fit: cover;
  }
}

.sliderBtn {
  background-color: $primaryColor !important;
  border: none !important;
  color: $black !important;

  &:hover {
    background-color: $nevyBlue !important;
  }
}

:global {
  .carousel-indicators {
    button {
      height: 10px !important;
      width: 10px !important;
      border-radius: 50%;
    }
  }

  .carousel {
    .carousel-control-prev,
    .carousel-control-next {
      display: none;
    }

    .carousel-caption {
      top: 40% !important;
      padding-top: 0;
    }
  }
}

@media (max-width: $media-md) {
  .sliderItem {
    height: auto;

    :global {
      .carousel-caption {
        top: 10% !important;
      }

      h1 {
        font-size: 22px !important;
        line-height: 24px !important;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: $media-lg) {
  .sliderItem {
    height: auto;

    :global {
      .carousel-caption {
        top: 50% !important;
      }
    }
  }
}
