@import "../../styles//global.scss";

.sliderItem {
  height: 400px;
  object-fit: cover;
  img {
    object-fit: cover;
  }
}

.sliderBtn {
  background-color: $primaryColor !important;
  border: none !important;
  color: $black !important;

  &:hover {
    background-color: $nevyBlue !important;
  }
}

@media (max-width: $media-md) {
  .sliderItem {
    height: auto;

    :global {
      .carousel-caption {
        top: 10% !important;
      }

      h1 {
        font-size: 22px !important;
        line-height: 24px !important;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: $media-lg) {
  .sliderItem {
    height: auto;

    :global {
      .carousel-caption {
        top: 50% !important;
      }
    }
  }
}
